@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #e7e6ea;
}


:root {
    --branding-color: #43B9F4;
    --secondary-color: #E3F6FF;
    --heading-font-family: "Playfair Display", serif;
    --default-font-fimaly: "Poppins", sans-serif;
}

.logo {
    max-width: 100px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
    color: var(--branding-color);
    font-weight: 600;
}

.content {
    padding: 30px;
}

.content-container {
    padding: 10px 20px;
    text-align: center;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-fimaly);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0 0;
    font-family: var(--default-font-fimaly);
}

.content p {
    font-size: 14px;
}



.container1 {
    background-color: var(--branding-color);
    padding: 10px 120px;
    border-radius: 10px;
}

nav {
    margin: 0px 56px;
    justify-content: space-between;
}

nav ul {
    margin: 0px;
    padding-top: 5px;
}

nav li {
    display: inline;
    line-height: 42px;
    margin-left: 20px;
}


nav li.active a {
    color: var(--branding-color);
    transition: all 200ms ease-in-out;
    background-color: white;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: white;
    padding: 12px 8px;
    border-radius: 8px;
}

nav a:hover {
        color: var(--secondary-color);
        transition: all 200ms ease-in-out;
        text-decoration: underline;
        text-underline-offset: 20px;
        text-decoration-color: var(--secondary-color);
}


nav a {
        text-decoration: none;
        color: white;
        font-size: 14px;
}


.intro{
    font-size: 12px;
    color: rgb(12, 128, 236);
}

.intro-container {
    background-color: white;
    width: fit-content;
    padding: 0px 10px;
    border: rgb(62, 143, 187) 0.15px solid;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    margin: 5px;
}

.small-box {
    max-width: 600px;
    margin: 0 auto 0;
}


.title {
    color: rgb(73, 158, 238);
    font-size: 36px;
    font-weight: 600;
    padding: 0%;
    text-align: center;
    margin-bottom: 60px;
}


.btn {
    padding: 15px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    box-shadow: rgb;
    transition: all 300ms ease;
}

.btn:hover{
    cursor: pointer;
    border: rgb(62, 143, 187) 0.15px solid;
}


.btn-color-1 {
    color: white;
    background-color: rgb(12, 128, 236);
    border: rgb(3, 112, 170) 0.1px solid;
}

.btn-color-2 {
    color: rgb(12, 128, 236);
    background-color: white;
    border: rgb(62, 143, 187) 0.15px solid;
}


.details-container {
    border: rgb(3, 112, 170) 0.1px solid;
    border-radius: 8px;
    padding: 10px;
}


.btn-branding {
    background: var(--branding-color);
    border-radius: 6px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}


footer {
    margin: 60px 0;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    display: block;
    text-align: center;
}


footer .email-link:hover {
    color: var(--branding-color);
}


footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 20px;
}

footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
    transition: all 100ms ease-in-out;
}





@media (max-width:565px) {
    nav {
        margin: 0px;
        justify-content:center;
    }

    nav ul {
        padding-left: 1rem;
    }

    
    .container1 {
        padding: 10px 0px !important;
    }

    .projects-containers {
        display:grid;
    }

    .d-md-grid {
        display: grid;
        grid-template-columns: 1fr; /* Forces a single-column layout */
    }

    footer .contact-box {
        padding: 30px;
    }

    .btn-contact {
        font-size: 16px;
        padding: 15px;
    }
}

@media (max-width:992px) {
    nav li {
        margin-left: 6px;
    }

    .container1 {
        padding: 10px 60px;
    }

    h1, .content h1 {
        font-size: 40px;
        line-height: 1.2;
    }

    h2, .content h2 {
        font-size: 18px;
        line-height: 1;
    }

    h3 {
        font-size: 20px;
    }

    .content-container {
        padding: 0;
        text-align: center;
    }

    nav li {
        line-height: 30px;
    }

    .img-fluid {
        width: 100%;
    }

}


    @media (min-width: 1200px) {
       
        .img-fluid {
            width: 80%
        }

        .fluid-2 {
            width: 70%;
        }

        .h1-large {
            font-size: 74px;
        }
    }